<div class="card mx-auto my-3 p-2" style="width: auto">
  <div class="card-header">
    <h5><%= link_to event.title, event_path(event.id), class: "card-title" %></h5>
  </div>
  <div class="card-body">
    <h6 class="card-subtitle"><%= event.date.to_fs(:short) %> | <%= event.start_time.to_fs(:time) %></h6>
    <p class="card-text"><%= event.location %></p>
  </div>
  <div class="card-footer">
    <p class="card-text"><%= event.description%></p>
    <% if user_signed_in? && event.creator.id == current_user.id %>
      <p class="card-text">Organiser: <em>You!</em></p>
    <% else %>
      <p class="card-text">Organiser: <%= event.creator.name %> (<%= event.creator.email %>)</p>
    <% end %>
  </div>
</div>