<h1 class="p-2">Events</h1>
<div class="container">
  <% @events.each do |event| %>
    <div class="card mx-auto my-3 p-2" style="width: auto">
      <div class="card-header">
        <h5 class="card-title"><%= event.title %></h5>
      </div>
      <div class="card-body">
        <h6 class="card-subtitle"><%= event.date.to_fs(:short) %> | <%= event.start_time.to_fs(:time) %></h6>
        <p class="card-text"><%= event.location %></p>
      </div>
      <div class="card-footer">
        <p class="card-text"><%= event.description%></p>
      </div>
    </div>
  <% end %>
</div>